<h1>Subjects</h1>
<br />
<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.id %></td>
        <td><%= link_to subject.name, subject %></td>
        <td><%= link_to 'Edit', edit_subject_path(subject), class:"btn btn-success" %></td>
        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Subject', new_subject_path, class:"btn btn-primary" %>

